/*
etiqueta normal = nada
etiqueta universal = *
eiqueta id = #
etiqueta class = .

*/
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgray;
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    border: 1px solid black;    
    background-color: aliceblue;    
}

#header{
    height: 145px;
    background: #f0f0f0;

}

#logo{
    padding: 20px;
    margin: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}

#login {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-top: 20px; /* Espacio superior */
    border-radius: 5px;
}


#menu{
    clear: both;
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01b1ea
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu ul li a{
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu ul li a:hover{
    background: #01b1ea;
}


/*conten*/
#content{
    margin: 0px auto;
    overflow: hidden;
    background: wheat;
}

#lateral{
    width: 15%;
    min-height: 600px;
    float: left;
    margin-top: 20px;
    margin-left: 10 px;
}

#lateral .block_asaide{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid blue;
}
#lateral h2{
    display: block;
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    border: 2px solid #01b1ea;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
    
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    border: 1px solid #1579b5;
    color: black;
    
}
.button{
    background: #33ae3d;
    color: white !important;
    text-decoration: none;
}

input[type="button"],
input[type="sumbit"],
.button{
    display: block;
    border-radius: 2px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    background: #2979cd;
    border: 1px solid #11608e;
    cursor: pointer;
}

#central{
    width: 80%;
    min-height: 600px;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;

}
#central h1{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}

.product{
    width: 30%;
    border: 1px solid #8888;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;

}

.product img{
    height: 100px;
    margin-bottom: 10px;
}

.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}

.product p{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.product a{
    color: black;
    text-decoration: none;
    
}

.product a :hover{
    color: #555;

}

#footer{
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #222;
    color: white;
    border-top: 5px solid #01b1ea;
}
